# Data_cleaning

## Steps taken

1. ...
2. ...

In [1]:
import pandas as pd

df = pd.read_csv("../datasets/dataset(07052022)-(1.00).csv")
df.head()

# Last update (07.05.2022)

,SEQN,depression,gender,age,race,citizenship,education_level,marital_status,household_size,pregnant,...,Rx_INSULIN REGULAR,Rx_days_INSULIN REGULAR,Rx_MEMANTINE,Rx_days_MEMANTINE,Rx_DIPHENHYDRAMINE,Rx_days_DIPHENHYDRAMINE,Rx_MINOCYCLINE,Rx_days_MINOCYCLINE,Rx_METHOCARBAMOL,Rx_days_METHOCARBAMOL
0,31131,Not Depressed,1,44,Black,Citizen,4,Married,4,No,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,31132,Not Depressed,0,70,White,Citizen,5,Married,2,Missing,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,31134,Not Depressed,0,73,White,Citizen,3,Married,2,Missing,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,31139,Not Depressed,1,18,Other Hispanic,Citizen,0,Never Married,3,No,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,31143,Not Depressed,0,19,White,Citizen,0,Never Married,3,Missing,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0