In [2]:
import pandas as pd
df = pd.read_csv("../datasets/dataset(08052022)-(1.03).csv")
df

,depression,gender,age,race,education_level,marital_status,household_size,birth_place,veteran,household_income,...,meth_number_uses,meth_per_month,inject_drugs,rehab_program,start_smoking_age,current_smoker,previous_cigarettes_per_day,current_cigarettes_per_day,days_quit_smoking,household_smokers
0,Not Depressed,1,44,Black,4,Married,4,USA,No,11,...,0.0,0.0,0.0,0.0,0,0,0,0,0,4
1,Not Depressed,0,70,White,5,Married,2,USA,Yes,11,...,0.0,0.0,0.0,0.0,0,0,0,0,0,4
2,Not Depressed,0,73,White,3,Married,2,USA,Yes,5,...,0.0,0.0,0.0,0.0,0,0,0,0,0,4
3,Not Depressed,1,18,Other Hispanic,0,Never Married,3,USA,No,11,...,0.0,0.0,0.0,0.0,0,0,0,0,0,1
4,Not Depressed,0,19,White,0,Never Married,3,USA,No,11,...,0.0,0.0,0.0,0.0,0,0,0,2,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36254,Not Depressed,0,33,White,3,Partner,5,USA,No,6,...,2.0,0.0,0.0,1.0,18,3,0,20,0,2
36255,Not Depressed,1,70,Other and Multiracial,3,Married,2,Mexico,No,4,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0
36256,Not Depressed,0,42,Mexican,3,Separated,1,Mexico,No,5,...,0.0,0.0,0.0,0.0,20,1,1,0,270,0
36257,Not Depressed,1,41,Black,5,Never Married,7,USA,No,10,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0
36258,Not Depressed,0,38,White,4,Divorced,5,USA,No,7,...,0.0,0.0,0.0,0.0,16,3,0,20,0,1

Siema to sÄ… nowe zmiany

In [3]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99